In [3]:
from numpy.random import randn
import pandas as pd

In [4]:
df = pd.DataFrame(randn(5, 4), index=['A', 'B', 'C', 'D', 'E'], columns='W X Y Z'.split())

In [5]:
df

          W         X         Y         Z
A -0.325480  0.702130  0.294014 -0.736659
B  0.527959 -0.335916 -0.982385  0.380385
C -1.671721  0.694427  0.234183  1.577481
D  0.456089  0.068724  0.443505 -0.292153
E -0.763275  0.549041  0.698142  0.698892

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df['W']

A   -0.325480
B    0.527959
C   -1.671721
D    0.456089
E   -0.763275
Name: W, dtype: float64

In [8]:
type(df['W'])

pandas.core.series.Series

In [9]:
df[['W']]

          W
A -0.325480
B  0.527959
C -1.671721
D  0.456089
E -0.763275

In [10]:
df[['W', 'X']]

          W         X
A -0.325480  0.702130
B  0.527959 -0.335916
C -1.671721  0.694427
D  0.456089  0.068724
E -0.763275  0.549041

In [11]:
df['new'] = df['W']

In [12]:
df['new']

A   -0.325480
B    0.527959
C   -1.671721
D    0.456089
E   -0.763275
Name: new, dtype: float64

In [13]:
df

          W         X         Y         Z       new
A -0.325480  0.702130  0.294014 -0.736659 -0.325480
B  0.527959 -0.335916 -0.982385  0.380385  0.527959
C -1.671721  0.694427  0.234183  1.577481 -1.671721
D  0.456089  0.068724  0.443505 -0.292153  0.456089
E -0.763275  0.549041  0.698142  0.698892 -0.763275

In [14]:
df['new'] = df['W'] + df['X']

In [15]:
df['new']

A    0.376649
B    0.192043
C   -0.977293
D    0.524813
E   -0.214234
Name: new, dtype: float64

In [16]:
 df.drop('new', axis=1)

          W         X         Y         Z
A -0.325480  0.702130  0.294014 -0.736659
B  0.527959 -0.335916 -0.982385  0.380385
C -1.671721  0.694427  0.234183  1.577481
D  0.456089  0.068724  0.443505 -0.292153
E -0.763275  0.549041  0.698142  0.698892

In [17]:
df

          W         X         Y         Z       new
A -0.325480  0.702130  0.294014 -0.736659  0.376649
B  0.527959 -0.335916 -0.982385  0.380385  0.192043
C -1.671721  0.694427  0.234183  1.577481 -0.977293
D  0.456089  0.068724  0.443505 -0.292153  0.524813
E -0.763275  0.549041  0.698142  0.698892 -0.214234

In [18]:
df2 = df.drop('new', axis=1)

In [19]:
df2

          W         X         Y         Z
A -0.325480  0.702130  0.294014 -0.736659
B  0.527959 -0.335916 -0.982385  0.380385
C -1.671721  0.694427  0.234183  1.577481
D  0.456089  0.068724  0.443505 -0.292153
E -0.763275  0.549041  0.698142  0.698892

In [20]:
df.drop('new', axis=1, inplace=True)

In [21]:
df

          W         X         Y         Z
A -0.325480  0.702130  0.294014 -0.736659
B  0.527959 -0.335916 -0.982385  0.380385
C -1.671721  0.694427  0.234183  1.577481
D  0.456089  0.068724  0.443505 -0.292153
E -0.763275  0.549041  0.698142  0.698892

In [22]:
df.loc['A']

W   -0.325480
X    0.702130
Y    0.294014
Z   -0.736659
Name: A, dtype: float64

In [23]:
df.loc[['A', 'B']]

          W         X         Y         Z
A -0.325480  0.702130  0.294014 -0.736659
B  0.527959 -0.335916 -0.982385  0.380385

In [24]:
df.iloc[0, 2]

0.29401444020792017

In [28]:
df.loc[['A', 'B'], 'W']

A   -0.325480
B    0.527959
Name: W, dtype: float64

In [27]:
df.loc[['A', 'B'], ['W']]

          W
A -0.325480
B  0.527959

In [29]:
df.iloc[:-1, 1:4]

          X         Y         Z
A  0.702130  0.294014 -0.736659
B -0.335916 -0.982385  0.380385
C  0.694427  0.234183  1.577481
D  0.068724  0.443505 -0.292153

In [30]:
df

          W         X         Y         Z
A -0.325480  0.702130  0.294014 -0.736659
B  0.527959 -0.335916 -0.982385  0.380385
C -1.671721  0.694427  0.234183  1.577481
D  0.456089  0.068724  0.443505 -0.292153
E -0.763275  0.549041  0.698142  0.698892

In [31]:
df > 0

       W      X      Y      Z
A  False   True   True  False
B   True  False  False   True
C  False   True   True   True
D   True   True   True  False
E  False   True   True   True

In [33]:
df['Y'] > 0

A     True
B    False
C     True
D     True
E     True
Name: Y, dtype: bool

In [32]:
df[df > 0]

          W         X         Y         Z
A       NaN  0.702130  0.294014       NaN
B  0.527959       NaN       NaN  0.380385
C       NaN  0.694427  0.234183  1.577481
D  0.456089  0.068724  0.443505       NaN
E       NaN  0.549041  0.698142  0.698892

In [34]:
df[df['Y'] > 0]

          W         X         Y         Z
A -0.325480  0.702130  0.294014 -0.736659
C -1.671721  0.694427  0.234183  1.577481
D  0.456089  0.068724  0.443505 -0.292153
E -0.763275  0.549041  0.698142  0.698892

In [36]:
(df['Y'] > 0) & (df['W'] > 0)

A    False
B    False
C    False
D     True
E    False
dtype: bool

In [35]:
df[(df['Y'] > 0) & (df['W'] > 0)]

          W         X         Y         Z
D  0.456089  0.068724  0.443505 -0.292153

In [37]:
df.iloc[:-1, 1:]

          X         Y         Z
A  0.702130  0.294014 -0.736659
B -0.335916 -0.982385  0.380385
C  0.694427  0.234183  1.577481
D  0.068724  0.443505 -0.292153

In [39]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [40]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [44]:
df.reset_index()

  index         W         X         Y         Z
0     A -0.325480  0.702130  0.294014 -0.736659
1     B  0.527959 -0.335916 -0.982385  0.380385
2     C -1.671721  0.694427  0.234183  1.577481
3     D  0.456089  0.068724  0.443505 -0.292153
4     E -0.763275  0.549041  0.698142  0.698892

In [42]:
df

          W         X         Y         Z
A -0.325480  0.702130  0.294014 -0.736659
B  0.527959 -0.335916 -0.982385  0.380385
C -1.671721  0.694427  0.234183  1.577481
D  0.456089  0.068724  0.443505 -0.292153
E -0.763275  0.549041  0.698142  0.698892

In [53]:
df.reset_index(inplace=True)

In [54]:
df

  index         W         X         Y         Z
0     A -0.325480  0.702130  0.294014 -0.736659
1     B  0.527959 -0.335916 -0.982385  0.380385
2     C -1.671721  0.694427  0.234183  1.577481
3     D  0.456089  0.068724  0.443505 -0.292153
4     E -0.763275  0.549041  0.698142  0.698892

In [55]:
df.set_index('index')

              W         X         Y         Z
index
A     -0.325480  0.702130  0.294014 -0.736659
B      0.527959 -0.335916 -0.982385  0.380385
C     -1.671721  0.694427  0.234183  1.577481
D      0.456089  0.068724  0.443505 -0.292153
E     -0.763275  0.549041  0.698142  0.698892

In [51]:
df

              W         X         Y         Z
index
A     -0.325480  0.702130  0.294014 -0.736659
B      0.527959 -0.335916 -0.982385  0.380385
C     -1.671721  0.694427  0.234183  1.577481
D      0.456089  0.068724  0.443505 -0.292153
E     -0.763275  0.549041  0.698142  0.698892

In [56]:
df.set_index('index', inplace=True)

In [57]:
df

              W         X         Y         Z
index
A     -0.325480  0.702130  0.294014 -0.736659
B      0.527959 -0.335916 -0.982385  0.380385
C     -1.671721  0.694427  0.234183  1.577481
D      0.456089  0.068724  0.443505 -0.292153
E     -0.763275  0.549041  0.698142  0.698892

In [60]:
novoind = 'CA NY WY OR CO'.split()

In [61]:
novoind

['CA', 'NY', 'WY', 'OR', 'CO']

In [62]:
df['novo_index'] = novoind

In [64]:
df.set_index('novo_index')

                   W         X         Y         Z
novo_index
CA         -0.325480  0.702130  0.294014 -0.736659
NY          0.527959 -0.335916 -0.982385  0.380385
WY         -1.671721  0.694427  0.234183  1.577481
OR          0.456089  0.068724  0.443505 -0.292153
CO         -0.763275  0.549041  0.698142  0.698892

In [65]:
 df.reset_index().set_index('novo_index')

           index         W         X         Y         Z
novo_index
CA             A -0.325480  0.702130  0.294014 -0.736659
NY             B  0.527959 -0.335916 -0.982385  0.380385
WY             C -1.671721  0.694427  0.234183  1.577481
OR             D  0.456089  0.068724  0.443505 -0.292153
CO             E -0.763275  0.549041  0.698142  0.698892