In [7]:
import pandas as pd
import numpy as np

In [3]:
# Níveis de Índice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [4]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [9]:
df

             A         B
G1 1 -0.421190  1.468578
   2  1.573494  0.229049
   3  0.346850  1.131181
G2 1 -0.795290  1.103516
   2  0.804463 -0.494533
   3 -0.556313 -0.769823

In [12]:
df.loc['G1'] # verifica apenas o primeiro index

          A         B
1 -0.421190  1.468578
2  1.573494  0.229049
3  0.346850  1.131181

In [13]:
df.loc['G1'].loc[1]

A   -0.421190
B    1.468578
Name: 1, dtype: float64

In [14]:
df.index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [15]:
df.index.names

FrozenList([None, None])

In [16]:
df.index.names = ['Grupo', 'Número']

In [17]:
df.index.names

FrozenList(['Grupo', 'Número'])

In [18]:
df

                     A         B
Grupo Número
G1    1      -0.421190  1.468578
      2       1.573494  0.229049
      3       0.346850  1.131181
G2    1      -0.795290  1.103516
      2       0.804463 -0.494533
      3      -0.556313 -0.769823

In [20]:
df.xs(1, level='Número')

             A         B
Grupo
G1    -0.42119  1.468578
G2    -0.79529  1.103516